*.p
al_Examples/*
build/*
test/*.p
build/lib/al_ArchiLib/*
dist/*
tmp/*
old/*
import*.archimate
*.pyc
*.mm
*.projection
*.gephi
*.bak
*.xml
*.jpeg
*.jpg
*.png
*.pdf
*.txt
*.dict
*.lsi
*.index
*.net
Runs/*
*.gml
*.csv
*.pptx
html/*
*.xlsx
log*
*.dot
